.logos img {
    max-height: 50px;
}

div.figure img {
    border: 1px solid black;
    border-radius: 0.5em;
}

.interface-logos img {
    height: 60px;
}

div.current-hubs .card-body p:first-child {
    font-size: 1.2em;
    margin-bottom: 0;
}

div.current-hubs .card-footer p {
    margin: 0;
}

p.card-text {
    width: 100%;
}
